<div class="row"> 
	<div class="col-sm-6">
		<%= f.input :nome, required: true, autofocus: true %>
	</div>
	<div class="col-xs-4 col-sm-2">	
		<%= f.input :sexo, collection: [t('sexo.masculino'), t('sexo.feminino')], as: :radio_buttons %>
	</div>
	<div class="col-sm-6">	
		<%= f.input :rg %>
	</div>
	<div class="col-sm-6">	
		<%= f.input :cpf, as: :string, input_html: { class: 'inputmask_cpf' }, required: true %>
	</div>
	<div class="col-sm-6">	
		<%= f.input :nascimento, as: :string, input_html: { class: 'inputmask_data' }, required: true %>
	</div>	
  
  <%= f.input :endereco %>
  <%= f.input :complemento %>
  <%= f.input :bairro %>
  <%= f.input :cidade %>            
  <%= f.input :uf, collection: Pais::UF %>      
  <%= f.input :cep, as: :string, input_html: { class: 'inputmask_cep' }, required: true %>

  <%= f.input :telefone_residencial, as: :string, input_html: { class: 'inputmask_residencial' }, required: true %>      
  <%= f.input :telefone_celular, as: :string, input_html: { class: 'inputmask_celular' }, required: true %>
  
  <%= f.input :estado_civil, collection: [t('estado_civil.solteiro'), t('estado_civil.casado'), t('estado_civil.viuvo'), t('estado_civil.divorciado'), t('estado_civil.outros')], as: :radio_buttons %>
  
  <%= f.input :numero_filhos %>
  
  <%= f.input :nome_conjuge %>
  <%= f.input :nome_pai %>
  <%= f.input :nome_mae %>

</div>
