<%= currently_at t('.title') %>
<%= titulo icon('fa fa-cog', t('.title')) %>
<%= corrigir_erros @user.errors.any? %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.input :email %>
  <%= f.input :password, autocomplete: 'off', required: false %>
  <%= f.input :password_confirmation, required: false %>
  <%= f.input :current_password, required: true %>
  <%= botao t('.submit') %>
  <%= botao_cancelar acoes_path %>
<% end %>
<hr>
<h3><%= t('.cancel.action') %></h3>
<p>
  <%= t('.cancel.unhappy') %> 
  <%= link_to t('.cancel.action'), registration_path(resource_name), class: 'btn btn-danger',
        data: { confirm: t('.cancel.confirm') }, method: :delete %>
</p>
