<%= currently_at t('.title') %>
<%= corrigir_erros @user.errors.any? %>
<div class="row">
  <div class="col-md-6  col-md-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= titulo t('.title') %>
      <%= f.input :email, required: true %>
      <%= f.input :password, required: true %>
      <%= f.input :password_confirmation, required: true %>
      <%= botao t('.submit'), class: 'btn btn-lg btn-success btn-block' %>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>