<br />
<%- if controller_name != 'passwords' %>
  <p><%= link_to t('devise.passwords.new.title'), new_password_path(resource_name) %><p/>
<% end -%>

<%- if controller_name != 'confirmations' %>
  <p><%= link_to t('devise.confirmations.link'), new_confirmation_path(resource_name) %><p/>
<% end -%>

<%- if resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <p><%= link_to t('devise.unlocks.link'), new_unlock_path(resource_name) %><p/>
<% end -%>
<hr>
<p><%= t('devise.sessions.new.entrar_usando') %></p>
<%- resource_class.omniauth_providers.each do |provider| %>
  <% imagem_provider = provider == :google_oauth2 ? 'google-plus' : provider %>
  <% nome_provider = provider == :google_oauth2 ? 'Google' : provider %>
  <%= link_to icon(imagem_provider.to_s + '-square fa-lg', nome_provider.to_s.titleize),
              omniauth_authorize_path(resource_name, provider) %>&nbsp;&nbsp;&nbsp;&nbsp;
<% end -%>
