<%= currently_at t('activerecord.models.controlador.other') %>
<%= titulo t('views.new.titulo', model: Controlador.model_name.human) %>
<%= render 'shared/form_com_nome', registro: @controlador, url_cancelar: controladores_path %>