<%= currently_at(t('activerecord.models.recurso_categoria.other')) %>
<%= titulo t('views.edit.titulo', model: RecursoCategoria.model_name.human) %>
<%= render 'shared/form_com_nome', registro: @recurso_categoria, url_cancelar: recursos_categorias_path %>