<%= currently_at t('activerecord.models.recurso_categoria.other') %>
<%- model_class = RecursoCategoria -%>
<%= titulo icon('list-alt', t('activerecord.models.recurso_categoria.other')) %>

<%= render 'shared/botoes_incluir_e_download', pode_incluir: true, controller: 'recursos_categorias',
           model: model_class, url_xls: nil, url_pdf: nil %>

<%= render 'shared/campo_buscar', model_class: model_class, url: recursos_categorias_path %>

<%= page_entries_info @recursos_categorias, model: model_class %>

<% if not @recursos_categorias.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= sortable model_class, 'nome' %></th>
        </tr>
      </thead>
      <tbody>
        <% @recursos_categorias.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_recurso_categoria_path(registro), model_class %>
              <%= botao_excluir registro, model_class %>
            </td>
            <td><%= registro.nome %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>
