<%- model_class = Contato -%>
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="<%= t('activerecord.models.contato.other') %>">
    <Table>
      <Row>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:created_at) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:nome) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:email) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:telefones) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:ip) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= model_class.human_attribute_name(:mensagem) %></Data></Cell>
      </Row>
    <% @contatos.each do |registro| %>
      <Row>
        <Cell><Data ss:Type="String"><%=l registro.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registro.nome %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registro.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registro.telefones %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registro.ip %></Data></Cell>
        <Cell><Data ss:Type="String"><%= registro.mensagem %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>