<%= currently_at t('activerecord.models.contato.other') %>
<%- model_class = Contato -%>
<%= titulo icon('bullhorn fa-lg', t('activerecord.models.contato.other')) %>

<%= render 'shared/botoes_incluir_e_download', pode_incluir: false, controller: nil, model: nil,
           url_xls: contatos_path(format: 'xls'), url_pdf: nil %>

<%= page_entries_info @acoes, model: model_class %>

<% if not @contatos.empty? %>
  <div class="table-responsive">
      <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
          <tr>
            <th><%= t('bootstrap.actions') %></th>
            <th><%= sortable model_class, 'created_at' %></th>
            <th><%= sortable model_class, 'nome' %></th>
            <th><%= sortable model_class, 'email' %></th>
            <th><%= sortable model_class, 'telefones' %></th>
            <th><%= sortable model_class, 'ip' %></th>
            <th><%= sortable model_class, 'mensagem' %></th>
          </tr>
        </thead>
        <tbody>
          <% @contatos.each do |registro| %>
            <tr>
              <td width="50">
                <%= botao_excluir registro, model_class %>
              </td>
              <td><%= l(registro.created_at, format: :data_hora) %></td>
              <td><%= registro.nome %></td>
              <td><%= registro.email %></td>
              <td><%= registro.telefones %></td>
              <td><%= registro.ip %></td>
              <td><%= registro.mensagem %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>