<%= currently_at t('activerecord.models.contato.other') %>
<%= corrigir_erros @contato.errors.any? %>
<%= titulo icon('bullhorn fa-lg', t('activerecord.models.contato.one')) %>
<%= simple_form_for @contato do |f| %>

  <div class="alert alert-info">
    <%= icon('info-circle', t('.informacao')) %>
  </div>
    <%= f.input :nome, autofocus: true %>
    <%= f.input :email, as: :email %>
    <%= f.input :telefones %>
    <%= f.input :mensagem, as: :text, input_html: { rows: 5 } %>
    
    <%= botao t('links.enviar') %>
    <%= botao_cancelar root_path %>
<% end %>
