<%= currently_at t('activerecord.models.erro.other') %>
<%= titulo t('views.edit.titulo', model: Erro.model_name.human) %>
<%= corrigir_erros @erro.errors.any? %>

<%= simple_form_for @erro, defaults: { input_html: { readonly: true } } do |f| %>
  <%= f.input :created_at, as: :string, input_html: { 'value' => l(@erro.created_at, format: :data_hora) } %>
  <%= f.input :recurso_nome %>
  <%= f.input :nome %>
  <%= f.input :descricao, as: :text, input_html: {rows: 4} %>
  <%= f.input :usuario_email %>
  <%= f.input :ip %>
  <%= f.input :dispositivo %>
  <%= f.input :resolucao, as: :text, autofocus: true, input_html: { readonly: false, rows: 4 } %>
  <%= f.input :erro_status_id, include_blank: false, collection: Hash[ErroStatus.all.map{|b| [b.nome, b.id]}],
    input_html: { readonly: false } %>

  <%= botao_salvar %>
  <%= botao_cancelar erros_path %>
  <%= botao_excluir @erro, Erro, { class: 'btn btn-danger pull-right', texto_botao: t('links.excluir') } %>
<% end %>
<br />
