<%= currently_at t('activerecord.models.erro.other') %>
<%- model_class = Erro -%>
<%= titulo icon('bug', t('activerecord.models.erro.other')) %>

<p>
  <% @qtde_erros_por_status.each do |erro_por_status| %>
    <%= link_to raw("<span class='badge alert-#{erro_por_status.erro_status.classe_badge}'>") + erro_por_status.qtde.to_s + raw('</span>'),
                erros_path(erro_status_id: erro_por_status.erro_status_id), title: erro_por_status.erro_status.nome %>
<% end %>
</p>

<%= page_entries_info @erros, model: model_class %>

<% if not @erros.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= sortable model_class, 'id' %></th>
          <th><%= sortable model_class, 'created_at' %></th>
          <th><%= Recurso.model_name.human %></th>
          <th><%= sortable model_class, 'nome' %></th>
          <th><%= User.model_name.human %></th>
        </tr>
      </thead>
      <tbody>
        <% @erros.each do |registro| %>
          <tr class="<%= registro.erro_status.classe %>">
            <td width="100">
              <%= botao_alterar registro, edit_erro_path(registro), model_class %>
              <%= botao_excluir registro, model_class %>
            </td>
            <td><%= registro.id %></td>
            <td><%=l(registro.created_at, format: :data_hora) %></td>
            <td><%= registro.recurso_nome %></td>
            <td><%= registro.nome %></td>
            <td><%= registro.user.email %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>