<%= currently_at t('activerecord.models.erro.other') %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title"><%= icon('bug', t('mensagens.erros.pedimos_desculpa')) %></h3>
  </div>
  <div class="panel-body">
    <br />
    <%= @mensagem %>
    <br />
    <br />
    <%= link_to t('links.voltar'), :back %>
  </div>
  <div class="panel-footer">
    <%= t('mensagens.erros.footer') %>
  </div>
</div>
