<%= currently_at t('activerecord.models.user.other') %>
<%- model_class = User -%>
<%= titulo icon('users', t('activerecord.models.user.other')) %>

<%= render 'shared/botoes_incluir_e_download', pode_incluir: false, controller: nil, model: nil,
           url_xls: users_path(format: 'xlsx'), url_pdf: users_path(format: 'pdf') %>

<%= page_entries_info @users, model: model_class %>

<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th><%= sortable model_class, 'current_sign_in_at' %></th>
        <th><%= sortable model_class, 'email' %></th>
        <th><%= sortable model_class, 'sign_in_count' %></th>
        <th><%= sortable model_class, 'created_at' %></th>
        <th><%= sortable model_class, 'confirmed_at' %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |registro| %>
        <tr>
          <td><%= l(registro.current_sign_in_at, format: :data_hora) if registro.current_sign_in_at.present? %></td>
          <td><%= registro.email %></td>
          <td><%= registro.sign_in_count %></td>
          <td><%= l(registro.created_at, format: :data_hora) %></td>
          <td><%= l(registro.confirmed_at, format: :data_hora) if registro.confirmed_at.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate %>