<%= currently_at t(".title") %>
<% if @user.errors.messages[:reset_password_token].blank? %>
  <%= corrigir_erros @user.errors.any? %>
<% else %>
  <% flash[:alert] = t('.msg_reset_password_token') %>
<% end %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.input :reset_password_token, as: :hidden %>
      <%= titulo t('.title') %>
      <%= f.input :password, required: true, autofocus: true, hint: false %>
      <%= f.input :password_confirmation, required: true %>
      <%= botao t('.submit'), class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>
