<%= currently_at t('.title') %>
<%= corrigir_erros @user.errors.any? %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= titulo t('.title') %>
      <%= f.input :email, autofocus: true %>
      <%= botao t('.submit'), class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>