<%= f.nested_fields_for :telefone do |builder_telefone| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <%= builder_telefone.association :pais, collection: Pais.listar, label_method: :nome %>
        </div>
        <div class="col-xs-4 col-sm-2">
          <%= builder_telefone.association :telefone_ddd, collection: TelefoneDdd.listar(nil, 'codigo'), label_method: :codigo %>
        </div>
        <div class="col-xs-8 col-sm-4">
          <%= builder_telefone.association :telefone_tipo, collection: TelefoneTipo.listar, label_method: :nome %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <%= builder_telefone.input :numero %>
        </div>
        <div class="col-xs-4">
          <%= builder_telefone.input :ramal %>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <%= builder_telefone.remove_nested_fields_link icon('trash-o fa-lg', t('titles.excluir', model: t('activerecord.models.telefone.one') )) %>
    </div>
  </div>

<% end %>
<p><%= f.add_nested_fields_link :telefone, icon('plus fa-lg', t('titles.adicionar', model: t('activerecord.models.telefone.one'))) %></p>
