<%= currently_at(t('activerecord.models.profissao.other')) %>
<%= titulo t('views.new.titulo', model: Profissao.model_name.human) %>
<%= render 'shared/form_com_nome', registro: @profissao, url_cancelar: profissoes_path %>