<%= currently_at t('.title') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= titulo t('.title') %>
      <%= f.input :email, required: false, autofocus: true %>
      <%= f.input :password, required: false %>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <br />
      <%= botao t('.submit'), class: 'btn btn-lg btn-primary btn-block' %>
    <% end %>
    <%= render 'devise/shared/links' %>
  </div>
</div>