<%= currently_at(t('activerecord.models.acao.other')) %>
<%= titulo t('views.edit.titulo', model: Acao.model_name.human) %>
<%= render 'shared/form_com_nome', registro: @acao, url_cancelar: acoes_path %>