<%= currently_at 'Home' %>
<!--
<div class="jumbotron">
  <p><%= t('.texto_principal') %></p>
  <p>
    <%= botao_link t('links.cadastrar'), new_user_registration_path, class: 'btn btn-success' %>
    <%= botao_link t('links.entrar'), new_user_session_path %>
  </p>
</div>
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
  </div>
</div>
-->