<%= corrigir_erros @recurso.errors.any? %>
<%= simple_form_for @recurso,
  wrapper_mappings: {
    radio_buttons: :vertical_radio_and_checkboxes
  } do |f| %>
  <%= f.input :nome, autofocus: true %>
  <%= f.association :recurso_categoria, collection: RecursoCategoria.order(:nome), label_method: :nome,
                    prompt: t('selecionar_opcao') %>  
  <%= f.association :controlador, collection: Controlador.order(:nome), label_method: :nome,
                    prompt: t('selecionar_opcao') %>
  <%= f.association :acao, collection: Acao.order(:nome), label_method: :nome,
                    prompt: t('selecionar_opcao') %>
  <%= f.input :visivel, as: :radio_buttons %>                  

  <br />
  
  <%= botao_salvar %>
  <%= botao_cancelar recursos_path %>
<% end %>