<%= currently_at t('activerecord.models.recurso.other') %>
<%- model_class = Recurso -%>
<%= titulo icon('tasks', t('activerecord.models.recurso.other')) %>

<%= render 'shared/botoes_incluir_e_download', pode_incluir: true, controller: 'recursos', model: model_class,
           url_xls: nil, url_pdf: nil %>

<%= render 'shared/campo_buscar', model_class: model_class, url: recursos_path %>

<% if not @recursos.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= model_class.human_attribute_name(:nome) %></th>
          <th><%= RecursoCategoria.model_name.human %></th>
          <th><%= Controlador.model_name.human %></th>
          <th><%= Acao.model_name.human %></th>
          <th><%= model_class.human_attribute_name(:visivel) %></th>
        </tr>
      </thead>
      <tbody>
        <% @recursos.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_recurso_path(registro), model_class %>
              <%= botao_excluir registro, model_class %>
            </td>
            <td><%= registro.nome %></td>
            <td><%= registro.recurso_categoria_nome %></td>
            <td><%= registro.controlador.nome %></td>
            <td><%= registro.acao.nome %></td>
            <td><%= imagem_true(registro.visivel?) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
