<%= corrigir_erros @perfil.errors.any? %>
<%= simple_form_for @perfil do |f| %>
  <%= f.input :nome %>
  <%= f.input :identificacao_interna %>
  <%= f.input :descricao, as: :text, input_html: { rows: 5 } %>
  <%= f.label :ativacao_automatica do %>
  	<b><%= f.check_box :ativacao_automatica %> <%= Perfil.human_attribute_name(:ativacao_automatica) %></b>
  <% end %>

	<h4><%= t('activerecord.models.recurso_categoria.other') %>:</h4>
	<% exibir_recursos() %>
	<% if !@recursos_categorias.nil? %>
	  <div class="accordion">
	    <% @recursos_categorias.each_with_index do |recurso_categoria, i| %>
	      <h3><%= recurso_categoria.nome %></h3>
	      <div>
	        <p>
	          <div class="container-fluid">
	            <div class="row">
	            <% recurso_categoria.recursos.each do |recurso| %>
	              <div class="col-xs-12 col-sm-6">
	                <input type="checkbox" name="check_recurso[<%= recurso.recurso_id %>]" <%= (recurso.selecionado ? 'checked' : '') %>
	                       id="<%= "recurso_id_#{ recurso.recurso_id }" %>" value="<%= recurso.recurso_id %>"/> <%= recurso.nome %>
	              </div>
	            <% end %>
	            </div>
	          </div>
	        </p>
	      </div>
	    <% end %>
	  </div>
	<% end %>

  <br />
  <%= botao_salvar %>
  <%= botao_cancelar perfis_path %>
<% end %>
