<%= currently_at t('activerecord.models.perfil.other') %>
<%- model_class = Perfil -%>
<%= titulo icon('check-square-o', t('activerecord.models.perfil.other')) %>

<%= render 'shared/botoes_incluir_e_download', pode_incluir: true, controller: 'perfis', 
			model: model_class, url_xls: nil, url_pdf: nil %>

<%= render 'shared/campo_buscar', model_class: model_class, url: perfis_path %>

<%= page_entries_info @perfis, model: model_class %>

<% if not @perfis.empty? %>
  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th><%= t('bootstrap.actions') %></th>
          <th><%= sortable model_class, 'nome' %></th>
          <th><%= model_class.human_attribute_name(:descricao) %></th>
          <th><%= model_class.human_attribute_name(:identificacao_interna) %></th>          
          <th><%= model_class.human_attribute_name(:ativacao_automatica) %></th>
        </tr>
      </thead>
      <tbody>
        <% @perfis.each do |registro| %>
          <tr>
            <td width="100">
              <%= botao_alterar registro, edit_perfil_path(registro), model_class %>
	          <%= botao_excluir registro, model_class %>
            </td>
            <td><%= registro.nome %></td>
            <td><%= registro.descricao %></td>
            <td><%= registro.identificacao_interna %></td>            
            <td style="text-align:center; vertical-align: middle"><%= imagem_true(registro.ativacao_automatica) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<%= will_paginate %>