<% content_for :alert_model_error do %>
  <% if tem_erro %>
    <div class="alert alert-danger" alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= icon('close fa-lg', t('mensagens.erros.corrigir')) %>
    </div>
  <% end %>
<% end %>