<!--
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-4 col-md-2 col-md-offset-5">
        <p><%= t('nome_sistema') %></p>
      </div>
    </div>
  </div>
</footer>
-->