<% content_for :main_navigation do %>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
         <%= nav_tab icon('bullhorn fa-lg', Contato.model_name.human), new_contato_path, { current: current_tab, titulo: Contato.model_name.human } %>

        <% if current_user.admin? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-cog fa-lg"></i> <%= t('links.administracao') %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= nav_tab icon('wrench', t('activerecord.models.acao.other')), acoes_path,
                          { current: current_tab, titulo: t('activerecord.models.acao.other') } %>
              <%= nav_tab icon('cogs', t('activerecord.models.controlador.other')), controladores_path,
                          { current: current_tab, titulo: t('activerecord.models.controlador.other') } %>
              <li class="divider"></li>
              <%= nav_tab icon('list-alt', t('activerecord.models.recurso_categoria.other')), recursos_categorias_path,
                          { current: current_tab, titulo: t('activerecord.models.recurso_categoria.other') } %>
              <%= nav_tab icon('tasks', t('activerecord.models.recurso.other')), recursos_path,
                          { current: current_tab, titulo: t('activerecord.models.recurso.other') } %>
          	  <li class="divider"></li>
          	  <%= nav_tab icon('check-square-o', t('activerecord.models.perfil.other')), perfis_path,
                      	  { current: current_tab, titulo: t('activerecord.models.perfil.other') } %> 
          	  <%= nav_tab icon('users', t('activerecord.models.profissao.other')), profissoes_path,
                      	  { current: current_tab, titulo: t('activerecord.models.profissao.other') } %>                      	  
              <%#= nav_tab icon('home', t('activerecord.models.tipo_unidade.other')), tipos_unidades_path, { current: current_tab, titulo: t('activerecord.models.tipo_unidade.other') } %>
              <li class="divider"></li>
              <%= nav_tab icon('bullhorn', t('activerecord.models.contato.other')), contatos_path,
                          { current: current_tab, titulo: t('activerecord.models.contato.other') } %>
              <%= nav_tab icon('bug', t('activerecord.models.erro.other')), erros_path,
                          { current: current_tab, titulo: t('activerecord.models.erro.other') } %>
              <%= nav_tab icon('users', t('activerecord.models.user.other')), users_path,
                          { current: current_tab, titulo: t('activerecord.models.user.other') } %>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-lg"></i> <%= current_user.email %> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= nav_tab icon('cog', t('devise.registrations.edit.title')), edit_user_registration_path,
                        { current: current_tab, titulo: t('devise.registrations.edit.title') } %>
            <%#= nav_tab icon('building-o', t('activerecord.models.condo.other')), condos_path, { current: current_tab, titulo: t('activerecord.models.condo.other') } %>
            <li class="divider"></li>
            <li><%= link_to icon('sign-out', t('.sair')), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <%= nav_tab icon('plus fa-lg', t('devise.registrations.new.title')), new_user_registration_path,
                    { current: current_tab, titulo:t('devise.registrations.new.title') } %>
        <%= nav_tab icon('sign-in fa-lg', t('devise.sessions.new.title')), new_user_session_path,
                    { current: current_tab, titulo: t('devise.sessions.new.title') } %>
      <% end %>
    </ul>
  </div>
<% end %>