<% content_for :menu_esquerda do %>
  <div class="panel-group" id="accordion">
    <% if session[:empresa_id] %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="panel-title">
            <i class="fa fa-building-o"></i> <%= link_to session[:empresa_nome], empresa_path(session[:empresa_id]) %>
          </h4>
        </div>
      </div>
    <% end  %>
    <div id="administracao" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_administracao">
            <%= icon('caret-right', t('links.administracao')) %>
          </a>
        </h4>
      </div>
      <% if posicao_accordion == t('accordion.administracao') %>
        <div id="collapse_administracao" class="panel-collapse collapse in">
      <% else %>
        <div id="collapse_administracao" class="panel-collapse collapse">
      <% end %>
          <ul class="nav nav-pills nav-stacked">
            <%= nav_tab icon('pencil', t('titles.alterar', model: Empresa.model_name.human)), edit_empresa_path(session[:empresa_id]),
                        { current: current_tab, titulo: t('titles.alterar', model: Empresa.model_name.human) } if session[:administrador_empresa] %>
            <%= nav_tab icon('trash-o', t('titles.excluir', model: Empresa.model_name.human)), empresa_path(session[:empresa_id]),
                        { method: :delete, current: current_tab, titulo: t('titles.excluir', model: Empresa.model_name.human) } if session[:administrador_empresa] %>
          </ul>
        </div>
    </div>
    <div id="cadastros" class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse_cadastros">
            <%= icon('caret-right', t('links.cadastros')) %>
          </a>
        </h4>
      </div>
      <% if posicao_accordion == t('accordion.cadastros') %>
        <div id="collapse_cadastros" class="panel-collapse collapse in">
      <% else %>
        <div id="collapse_cadastros" class="panel-collapse collapse">
      <% end %>
        <ul class="nav nav-pills nav-stacked">
          <%#= nav_tab icon('sitemap', t('activerecord.models.divisao.other')), divisoes_path, { current: current_tab, titulo: t('activerecord.models.divisao.other') } if tem_permissao?('index', 'divisoes') %>
          <%#= nav_tab icon('map-marker', t('activerecord.models.local.other')), locais_path, { current: current_tab, titulo: t('activerecord.models.local.other') } if tem_permissao?('index', 'locais') %>
          <%#= nav_tab icon('dashboard', t('activerecord.models.medidor_consumo.other')), medidores_consumos_path, { current: current_tab, titulo: t('activerecord.models.medidor_consumo.other') } if tem_permissao?('index', 'medidores_consumos') %>
          <%#= nav_tab icon('check-square-o', t('activerecord.models.perfil.other')), perfis_path, { current: current_tab, titulo: t('activerecord.models.perfil.other') } if tem_permissao?('index', 'perfis') %>
          <%#= nav_tab icon('users', t('activerecord.models.pessoa.other')), pessoas_path, { current: current_tab, titulo: t('activerecord.models.pessoa.other') } if tem_permissao?('index', 'pessoas') %>
          <%#= nav_tab icon('home', t('activerecord.models.unidade.other')), unidades_path, { current: current_tab, titulo: t('activerecord.models.unidade.other') } if tem_permissao?('index', 'unidades') %>
          <%# = nav_tab t('autonomias.menu'), autonomias_path, current: current_tab if tem_permissao?('index', 'autonomias') %>
          <%# = nav_tab t('autorizados_tipos.menu'), autorizados_tipos_path, current: current_tab if tem_permissao?('index', 'autorizados_tipos') %>
        </ul>
      </div>
    </div>
  </div>
<% end %>