<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="<%= image_path('samar.ico') %>">

  <title><%= content_for?(:title) ? yield(:title) + ' - ' + t(:nome_sistema) : t(:nome_sistema) %></title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <style>
    #mobile-header {
      display: none;
    }
    @media only screen and (max-width: 767px){
      #mobile-header {
        display: block;
      }
    }
  </style>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container">
    <%= render 'layouts/alert' %>

    <% if user_signed_in? and session[:empresa_id] %>
      <div class="row">
        <div id="navigation" class="col-sm-3 hidden-xs">
          <%= yield :menu_esquerda %>
        </div>

        <div class="col-sm-9">
          <div id="mobile-header">
            <p><a id="responsive-menu-button" href="#sidr-main" class="btn btn-info btn-xs">Menu</a></p>
          </div>

          <%= render_crumbs format: :html_list, last_crumb_linked: false, ul_class: 'breadcrumb', last_class: 'active' %>

          <%= yield %>
        </div>
      </div>
    <% else %>
      <%= render_crumbs format: :html_list, last_crumb_linked: false, ul_class: 'breadcrumb', last_class: 'active' %>
      <%= yield %>
    <% end %>
  </div>

  <!-- <hr> -->
  <%= render 'layouts/footer' %>

  <%= javascript_include_tag "application" %>
  <%# GOOGLE ANALYTICS %>
  <% if ENV['RAILS_ENV'] == 'production' and !ENV_PATH.scan('samar_producao').blank? %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33531449-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  <% end %>
</body>
</html>